.authButtonOverlay {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
}

@media (max-width: 996px) {
  .authButtonOverlay {
    top: 0.5rem;
    right: 0.5rem;
  }
}